{% extends 'base.html' %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        </p>
        <p>
            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </p>
        <button type="submit">Submit</button>
    </form>
{% endblock body %}