/* CSS for base.html */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* CSS for home.css */
.status {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    /* Added animation transition */
    width: fit-content;
    margin-left: 2vmin;
}

.status:hover {
    transform: scale(1.05);
    /* Enlarges the status on hover */
}

.text {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
}

.media img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}