{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md rounded-bottom-4 border-bottom border-indigo">
        <div class="container-fluid">
            <a href="{% url 'home' %}" class="navbar-brand">Status Network</a>
            <button type="button" class="navbar-toggler" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">Hi, {{ user.username }}!</a>
                        <ul class="dropdown-menu" class="">
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="dropdown-item text-danger">log out</button>
                                </form>
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" href="{% url 'password_change' %}">change password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'status_create' %}">new status</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'status_edit_by_user_id' user_id=user.id %}">edit
                            status</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">You are not authenticated</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    <button class="dropdown-item text-danger">log in</button>
                                </form>
                            </li>
                            <li>
                                <form action="{% url 'signup' %}" method="post">
                                    {% csrf_token %}
                                    <button class="dropdown-item text-danger">sign up</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    {% block main_content %} {% endblock main_content %}
{% endblock body %}
