{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-expand-sm mb-3 border-bottom rounded-bottom-4">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">back to statuses</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <form class="form rounded-4 col-lg-3 p-3 col-md-4 col-sm-6" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label class="form-label" for="id_text">Text:</label>
            <textarea class="form-control" name="text" cols="40" rows="10" required="" id="id_text">{{ object.text }}</textarea>
        </div>
        <div class="mt-2">
            <label class="form-label" for="id_media">Media:</label>
            <input class="form-control" type="file" name="media" id="id_media" aria-describedby="currentMedia">
            <span id="currentMedia" class="form-text"><a href="{{ object.media.url }}">Current media</a></span>
        </div>
        <button class="btn bg-primary-subtle text-primary-emphasis border border-primary-subtle mt-3" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}