{% extends 'pages_base.html' %}

{% block main_content %}
<!-- TODO: prettify -->
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="card rounded-4 col-lg-5 col-md-6 col-sm-7 mt-3 mb-3">
        {% if object.is_image %}
            <img class="card-img-top rounded-4" src="{{ object.media.url }}">
        {% else %}
            <video class="card-img-top rounded-4" controls src="{{ object.media.url }}"></video>
        {% endif %}
        <div class="card-body">
            <div class="card-text mt-2 mb-2">
                <div class="mb-1">
                    by {{ object.author }}
                </div>
                {{ object.text }}
            </div>
            <div class="row">
                <form action="{% url 'status_like' status.id %}" method="post">
                    {% csrf_token %}
                    {% if user in status.likes.all %}
                        <button type="submit" class="btn bg-danger-subtle text-danger-emphasis border border-danger-subtle">Liked</button>
                    {% else %}
                        <button type="submit" class="btn bg-success-subtle text-success-emphasis border border-success-subtle">Like</button>
                    {% endif %}
                    <br><span class="form-text">Like count: {{ status.likes.count }}</span>
                </form>
            </div>
            {% if status.ai_summary %}
                <div class="col-auto mt-2 bg-primary-subtle border border-primary-subtle text-primary-emphasis p-2 rounded-2">
                    <strong>AI Summary: </strong><span>{{ object.ai_summary }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}